@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .paused{
        animation-play-state: paused;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
     
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}